body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    background-color: #333030;
    color: antiquewhite;
    margin-left: 2em;
}


.table{
    line-height: 2em;
}

button{
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.button-container{
    margin: 5em 0em 0em 0em;
    padding: 0;
}

.lenny{
    max-width: 30em;
    height: auto;
    margin: 0;
    padding: 0;
    image-resolution: auto;
    
}

.hint-image{
    text-align: center;
    margin: 10em 0em 10em 0em;
    
}

footer{
    font-size: 0.700em;
    color: transparent grey;
    max-height: 30vm;
    text-align: center;
}